<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jake Oktawiec</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!--  HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/docs.css" rel="stylesheet">
    <link href="/static/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Javascript -->
    <script src="http://code.jquery.com/jquery-1.7.min.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/application.js"></script>
    <script src="http://autobahn.tablesorter.com/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>

    <!-- fav and touch icons -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/ico/bootstrap-apple-114x114.png">
  </head>

  <body>

    <!-- Topbar
    ================================================== -->
    <div class="topbar" data-scrollspy="scrollspy" >
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="#"></a>
          <ul class="nav">
            <li class="active"><a href="#overview">Me</a></li>
            <li><a href="#summary">Summary</a></li>
            <li><a href="#connect">Connect</a></li>
            <li><a href="#photos">Photos</a></li>
            <li><a href="#reading">Reading</a></li>
            <li><a href="#coursework">Coursework</a></li>
            <li><a href="#skillset">Skillset</a></li>
            <li><a href="#contact">Contact</a></li>

          </ul>
        </div>
      </div>
    </div>

    <!-- Masthead
    ================================================== -->
    <header class="jumbotron masthead" id="overview">
      <div class="inner">
        <div class="container">
          <h1>Jake Oktawiec</h1>
          <p class="lead">
            Graduate Student in Computer Science & Engineering<br />
            Software Engineer and Web Developer<br />
          </p>

        </div><!-- /container -->
      </div>
    </header>

    <div class="container">

<!-- Summary
================================================== -->
<section id="summary">
  <div class="page-header">
    <h1>Summary <small>Who am I? What am I doing?</small></h1>
  </div>
  <div class="row">

<!--    <div class="span4">-->
<!--      <a href="http://i.imgur.com/Hlk22">-->
<!--        <img class="thumbnail" src="http://i.imgur.com/Hlk22.jpg" alt="hi there">-->
<!--      </a>-->
<!--    </div>-->


    <div class="span2>
      <a href="#">
        <img class="thumbnail" src="/static/img/headshot3.jpg" alt="hi there">
      </a>
    </div>

    <div class="span14">
      <p>
      Hi. I'm a Graduate Student in Computer Science and Engineering. I grew up in New York City but I've been in the Bay Area now for the better part of a decade. I completed my undergrad at Stanford Univeristy with a B.S. in Mathematics and Computational Science. I am passionate about C.S., applied math and techology and I am excited to work in world that's becoming increasingly data-driven. Currently, I am nearing completion of a Masters degree at in Computer Science and Engineering at Santa Clara University and I live in San Francisco.
      </p>
      <p>
       My academic interests span a broad range including Distributed Systems, Scalabity, Data Mining, Parallel Processing, Web Development. I started programming in C/C++. My recent work has been primarily in Server-side (backend) programming in Python, and work on the web front-end in Javascript, and HTML/CSS. I'm currently experimenting with Objective-C and iOS.
      </p>
      <p>
	     Outside of work, I enjoy Running, Cycling, Hiking, Mountaineering, Skiing and Photography.
      </p>
      <p>
      This site is under development. I will be making it more dynamic over time.
      </p>
    </div>


  </div>

</section>




<!-- Connect
================================================== -->
<section id="connect">
  <div class="page-header">
    <h1>Connect <small>on the interwebs</small></h1>
  </div>
  <div class="row">
    <div class="span4">
      <h4>Profiles</h4>
      <div>

            <a href="http://www.linkedin.com/in/jakeokt">
              <img class="thumbnail" src="/static/img/linkedin_64.png" alt="">
            </a>

            <a href="http://www.twitter.com/tankm0de">
              <img class="thumbnail" src="/static/img/twitter_64.png" alt="">
            </a>
            <a href="http://www.github.com/jakeokt">
              <img class="thumbnail" src="/static/img/github_64.png" alt="">
            </a>
            <a href="https://plus.google.com/103575983273342237789/about">
              <img class="thumbnail" src="/static/img/google_64.png" alt="">
            </a>
<!--            <a href="#">
              <img class="thumbnail" src="http://placehold.it/50x50" alt="">
            </a>-->
        </div>

        </br></br>
<!--        <div>
<a href="https://twitter.com/tankm0de" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @tankm0de</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>-->
        </br></br>
<!--        <div>
<script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/jakeokt" data-format="click" data-text="Jake Oktawiec"></script>
        </div>-->


    </div>
    <div class="span12">
      <h4>Recent Updates</h4>
      <script src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 3,
        interval: 30000,
        width: 'auto',
        height: 200,
        theme: {
          shell: {
            background: '#C0DEED',
            color: '#ffffff'
          },
          tweets: {
            background: '#ffffff',
            color: '#000000',
            links: '#0707eb'
          }
        },
        features: {
          scrollbar: false,
          loop: false,
          live: false,
          behavior: 'all'
        }
      }).render().setUser('tankm0de').start();
      </script>


    </div>

  </div>

</section>

{% if medias %}

<!-- Photo Stream (instagram)
================================================== -->
<section id="photos">
  <div class="page-header">
    <h1>Photo Stream <small>Instagram API Example</small></h1>
  </div>
  <div class="row">
    <div class="span16">
    <ul class="media-grid">


      {% for media in medias %}
      <li>
        <a href="{{ media.images['standard_resolution'].url }}">
          <img class="thumbnail" src="{{ media.images['thumbnail'].url }}" title="{{ media.caption.text }}">
        </a>
      </li>
      {% endfor %}


<!--      <li>
        <a href="#">
          <img class="thumbnail" src="http://placehold.it/150x150" alt="">
        </a>
      </li>-->


    </ul>
    </div>
  </div>

</section>

{% else %}


<!-- Photo Stream (instagram)
================================================== -->
<section id="photos">
  <div class="page-header">
    <h1>Photo Stream <small>Instagram</small></h1>
  </div>
  <div class="row">
    <div class="span16">
    <ul class="media-grid">
      <li>
        <a href="http://distilleryimage1.instagram.com/7f0d7ff6421411e19896123138142014_7.jpg">
          <img class="thumbnail" src="http://distilleryimage1.instagram.com/7f0d7ff6421411e19896123138142014_5.jpg" alt="">
        </a>
      </li>
      <li>
        <a href="http://distilleryimage3.s3.amazonaws.com/e890eb643d7011e1abb01231381b65e3_7.jpg">
          <img class="thumbnail" src="http://distilleryimage3.s3.amazonaws.com/e890eb643d7011e1abb01231381b65e3_5.jpg" alt="">
        </a>
      </li>
      <li>
        <a href="http://distilleryimage0.s3.amazonaws.com/8b5ea7ee36fc11e19e4a12313813ffc0_7.jpg">
          <img class="thumbnail" src="http://distilleryimage0.s3.amazonaws.com/8b5ea7ee36fc11e19e4a12313813ffc0_5.jpg" alt="">
        </a>
      </li>
      <li>
        <a href="http://distilleryimage3.s3.amazonaws.com/7a58603c304611e19896123138142014_7.jpg">
          <img class="thumbnail" src="http://distilleryimage3.s3.amazonaws.com/7a58603c304611e19896123138142014_5.jpg" alt="">
        </a>
      </li>
      <li>
        <a href="http://distilleryimage8.s3.amazonaws.com/51da1b3c2f3d11e19896123138142014_7.jpg">
          <img class="thumbnail" src="http://distilleryimage8.s3.amazonaws.com/51da1b3c2f3d11e19896123138142014_5.jpg" alt="">
        </a>
      </li>
<!--      <li>
        <a href="#">
          <img class="thumbnail" src="http://placehold.it/150x150" alt="">
        </a>
      </li>-->


    </ul>
    </div>
  </div>

</section>

{% endif %}




{% if bookmarks %}

<!-- Reading
================================================== -->
<section id="reading">
  <div class="page-header">
    <h1>Articles I'm Reading <small>Readability API</small></h1>
  </div>


  <div class="row">
    <div class="span14 offset1">
      <table>
        <thead>
          <tr>
            <th>Article</th>
            <th></th>
            <th>Stats</th>
          </tr>
        </thead>
        <tbody>
          {% for bookmark in bookmarks %}
            <tr>
              <td class="span4">

                <ul class="unstyled">
                  <li><a href={{ bookmark.article.url }}><big>{{bookmark.article.title }}</big></a></li>
                  <li>By {{bookmark.article.author}}</li>
                  <li>On {{bookmark.article.domain}}</li>

                </ul>

              <td>
                {{ bookmark.article.excerpt|safe }}
              </td>
              <td class="span6">
                <ul class="unstyled">
                  <li>Word Count: {{bookmark.article.word_count}}</li>
                  {% if bookmark.article.date_published %}
                  <li>Published: {{bookmark.article.date_published.strftime('%A %b %d, %Y')}} </li>
                  {% endif %}
                  <li>Added : {{bookmark.date_updated.strftime('%A %b %d, %Y') }}</li>
                </ul>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

{% endif %}










<!-- Coursework
================================================== -->
<section id="coursework">
  <div class="page-header">
    <h1>Coursework <small>Briefly..</small></h1>
  </div>
  <div class="row">
    <div class="span16">
      <h4>Graduate</h4>
      <div class="row">
        <div class="span4">
          <ul.unstyled>
            <li>Distributed Systems</li>
            <li>Data Mining & AI</li>
            <li>Advanced Databases</li>
          </ul.unstyled>
        </div>

        <div class="span4">
          <ul.unstyled>
            <li>Networking</li>
            <li>Operating Systems</li>
            <li>Parallel Programming</li>
          </ul.unstyled>
        </div>

        <div class="span4">
          <ul.unstyled>
            <li>Computer Architecture</li>
            <li>Software Engineering</li>
            <li>Information Security</li>
          </ul.unstyled>
        </div>


      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <h4>Undergrad</h4>
      <div class="row">
        <div class="span4">
          <ul.unstyled>
            <li>Programming in C/C++</li>
            <li>Statistical Methods</li>
            <li>Computation Theory</li>
          </ul.unstyled>
        </div>

        <div class="span4">
          <ul.unstyled>
            <li>Discrete Mathematics</li>
            <li>Number Theory</li>
            <li>Economics & Finance</li>
          </ul.unstyled>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Skillset
================================================== -->
<section id="skillset">
  <div class="page-header">
    <h1>Skillset <small>I can make things?</small></h1>
  </div>

  <div class="row">
    <div class="span14">
      <table>
        <thead>
          <tr>
            <th>Area</th>
            <th>Name</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="6" class="span6">Languages</td>
            <td class="span6">Python</td>
            <td>Primary Competency</td>
          </tr>
          <tr>
            <td>C/C++</td>
            <td></td>
          </tr>
          <tr>
            <td>C#</td>
            <td></td>
          </tr>
          <tr>
            <td>Javascript</td>
            <td></td>
          </tr>
          <tr>
            <td>R</td>
            <td>Statistical analysis language</td>
          </tr>
          <tr>
            <td>iOS Objective-C</td>
            <td>learning.. slowly</td>
          </tr>
          <tr>
            <td rowspan="3">Web Frameworks</td>
            <td>Flask</td>
            <td>Python Microframework developed by @mitsuhiko</td>
          </tr>
          <tr>
            <td>Django</td>
            <td></td>
          </tr>
          <tr>
            <td>ASP.NET</td>
            <td></td>
          </tr>

          <tr>
            <td rowspan="3">Other Tools/Libraries</td>
            <td>SQL Alchemy</td>
            <td>Object Relational Mapper for Python</td>
          </tr>
          <tr>
            <td>Celery</td>
            <td>Distributed Task Queue - Asynchronous Scripting</td>
          </tr>
          <tr>

            <td>Various REST APIs</td>
            <td>Twitter, LinkedIn, Facebook, Foursquare, Instagram</td>
          </tr>
          <tr>
            <td>Databases</td>
            <td>Primarily MySQL, playing with MongoDB</td>
            <td></td>
          </tr>
          <tr>
            <td>System Platforms</td>
            <td> Primarily Linux</td>
            <td></td>
          </tr>
          <tr>
            <td>Front-End Markup</td>
            <td>HTML & CSS</td>
            <td></td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</section>





<!-- Contact Me
================================================== -->
<section id="contact">
  <div class="page-header">
    <h1>Contact Me <small>quick form</small></h1>
  </div>
  <div class="row">
    <div class="span8 offset1">
<!--        <div class="row">-->
<!--          <div class="span6 offset2">            -->
<!--            <h4>Send Me a Message</h4>-->
<!--          </div>        -->
<!--        </div>-->

<!-- Do not change code! -->
<table cellspacing="0" cellpadding="0" border="0"><tr><td><iframe width="600" height="471" frameborder="0" src="http://www.foxyform.com/form.php?id=206020&sec_hash=ebf3c0af52f"></iframe></td></tr><tr><td align="center"><a style="font:8px Arial;color:#5C5C5C;" href="http://www.foxyform.com">foxyform.com</a></td></tr></table>
<!-- Do not change code! -->


    </div>
  </div>
</section>


</br></br></br>

    </div><!-- /container -->

    <footer class="footer">
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>
          Built using <a href="http://twitter.com/Twbootstap" target="_blank">Twitter Bootstrap</a>, used according to the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache 2.0 License</a>.
        </p>
      </div>
    </footer>




  </body>
</html>
