<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jake Oktawiec</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!--  HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/docs.css" rel="stylesheet">
    <link href="/static/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Javascript -->
    <script src="http://code.jquery.com/jquery-1.7.min.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/application.js"></script>
    <script src="http://autobahn.tablesorter.com/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
    
    <!-- fav and touch icons -->
<!--#TODO get rid of bootstrap code / icons-->
    <link rel="shortcut icon" type="image/x-icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon" href="/static/ico/bootstrap-apple-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/ico/bootstrap-apple-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/ico/bootstrap-apple-114x114.png">
  </head>

  <body>

    <!-- Topbar
    ================================================== -->
    <div class="topbar" data-scrollspy="scrollspy" >
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="#"></a>
          <ul class="nav">
            <li class="active"><a href="#overview">Me</a></li>
            <li><a href="#summary">Summary</a></li>           
            <li><a href="#connect">Connect</a></li>
            <li><a href="#photos">Photos</a></li>
            <li><a href="#coursework">Coursework</a></li>
            <li><a href="#skillset">Skillset</a></li>
            <li><a href="#contact">Contact</a></li>

          </ul>
        </div>
      </div>
    </div>

    <!-- Masthead
    ================================================== -->
    <header class="jumbotron masthead" id="overview">
      <div class="inner">
        <div class="container">
          <h1>Jake Oktawiec</h1>
          <p class="lead">
            Graduate Student in Computer Science & Engineering<br />
            Software Engineer and Web Developer<br />
          </p>
         
        </div><!-- /container -->
      </div>
    </header>

    <div class="container">

<!-- Summary
================================================== -->
<section id="summary">
  <div class="page-header">
    <h1>Summary <small>Who am I? What am I doing?</small></h1>
  </div>
  <div class="row">
    
    <div class="span4">
      <a href="#">
        <img class="thumbnail" src="http://placehold.it/210x210" alt="">
      </a>
    </div>
    
    <div class="span12">
      <p>
      Hi. I'm Jake. I'm a Graduate Student in Computer Science and Engineering.  I am originally from New York City and I've lived in the Bay Area for a better part of a decade. Currently, I live in San Francisco.
      </p>
      <p><!-- start slipsum code --> The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee. <!-- end slipsum code -->
      </p>
    </div>


  </div>
  
</section>




<!-- Connect
================================================== -->
<section id="connect">
  <div class="page-header">
    <h1>Connect <small>on the interwebs</small></h1>
  </div>
  <div class="row">
    <div class="span4">
      <h4>Profiles</h4>
      <div>

            <a href="#">
              <img class="thumbnail" src="http://placehold.it/50x50" alt="">
            </a>
        
            <a href="#">
              <img class="thumbnail" src="http://placehold.it/50x50" alt="">
            </a>
            <a href="#">
              <img class="thumbnail" src="http://placehold.it/50x50" alt="">
            </a>
            <a href="#">
              <img class="thumbnail" src="http://placehold.it/50x50" alt="">
            </a>
        </div>

        </br></br>
        <div>
<a href="https://twitter.com/tankm0de" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @tankm0de</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        </br></br>
        <div>
<script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/jakeokt" data-format="click" data-text="Jake Oktawiec"></script>
        </div>

   
    </div>
    <div class="span12">
      <h4>Recent Updates</h4>
      <script src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 3,
        interval: 30000,
        width: 'auto',
        height: 200,
        theme: {
          shell: {
            background: '#C0DEED',
            color: '#ffffff'
          },
          tweets: {
            background: '#ffffff',
            color: '#000000',
            links: '#0707eb'
          }
        },
        features: {
          scrollbar: false,
          loop: false,
          live: false,
          behavior: 'all'
        }
      }).render().setUser('tankm0de').start();
      </script>

      
    </div>
    
  </div>

</section>



<!-- Photo Stream (instagram)
================================================== -->
<section id="photos">
  <div class="page-header">
    <h1>Photo Stream <small>Instagram API</small></h1>
  </div>
  <div class="row">
    <div class="span16">
    <ul class="media-grid">
      <li>
        <a href="#">
          <img class="thumbnail" src="http://placehold.it/90x90" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img class="thumbnail" src="http://placehold.it/90x90" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img class="thumbnail" src="http://placehold.it/90x90" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img class="thumbnail" src="http://placehold.it/90x90" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img class="thumbnail" src="http://placehold.it/90x90" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img class="thumbnail" src="http://placehold.it/90x90" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img class="thumbnail" src="http://placehold.it/90x90" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img class="thumbnail" src="http://placehold.it/90x90" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img class="thumbnail" src="http://placehold.it/90x90" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img class="thumbnail" src="http://placehold.it/90x90" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img class="thumbnail" src="http://placehold.it/90x90" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img class="thumbnail" src="http://placehold.it/90x90" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img class="thumbnail" src="http://placehold.it/90x90" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img class="thumbnail" src="http://placehold.it/90x90" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img class="thumbnail" src="http://placehold.it/90x90" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img class="thumbnail" src="http://placehold.it/90x90" alt="">
        </a>
      </li>
    </ul>
    </div>
  </div>
  
</section>

<!-- Coursework
================================================== -->
<section id="coursework">
  <div class="page-header">
    <h1>Coursework <small>Briefly..</small></h1>
  </div>
  <div class="row">
    <div class="span16">
      <h4>Graduate</h4>
      <div class="row">  
        <div class="span4">
          <ul.unstyled>
            <li>Distributed Systems</li>
            <li>Data Mining & AI</li>          
            <li>Advanced Databases</li>
          </ul.unstyled>
        </div>
        
        <div class="span4">
          <ul.unstyled>
            <li>Networking</li>
            <li>Operating Systems</li>
            <li>Parallel Programming</li>
          </ul.unstyled>
        </div>

        <div class="span4">
          <ul.unstyled>
            <li>Computer Architecture</li>
            <li>Software Engineering</li>
            <li>Information Security</li>
          </ul.unstyled>
        </div>


      </div>      
    </div>       
  </div>
  <div class="row">
    <div class="span12">
      <h4>Undergrad</h4>
      <div class="row">
        <div class="span4">
          <ul.unstyled>
            <li>Programming in C/C++</li>
            <li>Statistical Methods</li>
            <li>Computation Theory</li>
          </ul.unstyled>
        </div>
        
        <div class="span4">
          <ul.unstyled>
            <li>Discrete Mathematics</li>
            <li>Number Theory</li>
            <li>Economics & Finance</li>
          </ul.unstyled>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Skillset
================================================== -->
<section id="skillset">
  <div class="page-header">
    <h1>Skillset <small>I can make things?</small></h1>
  </div>
  
  <div class="row">
    <div class="span14">
      <table>
        <thead>
          <tr>
            <th>Area</th>
            <th>Name</th>
            <th>Notes</th>  
          </tr>
        </thead>        
        <tbody>
          <tr>
            <td rowspan="5" class="span6">Languages</td>
            <td class="span6">Python</td>
            <td>Primary Competency</td>
          </tr>
          <tr>
            <td>C/C++</td>
            <td></td>
          </tr>
          <tr>
            <td>C#</td>
            <td></td>
          </tr>
          <tr>
            <td>Javascript</td>
            <td></td>
          </tr>
          <tr>
            <td>R</td>
            <td>Statistical analysis language</td>
          </tr>
          <tr>
            <td rowspan="3">Web Frameworks</td>
            <td>Flask</td>
            <td>Python Microframework developed by @mitsuhiko</td>
          </tr>
          <tr>
            <td>Django</td>
            <td></td>
          </tr>
          <tr>
            <td>ASP.NET</td>
            <td></td>
          </tr>
    
          <tr>
            <td rowspan="3">Other Tools/Libraries</td>
            <td>SQL Alchemy</td>
            <td>Object Relational Mapper for Python</td>
          </tr>
          <tr>
            <td>Celery</td>
            <td>Distributed Task Queue - Asynchronous Scripting</td>
          </tr>
          <tr>
 
            <td>Various REST APIs</td>
            <td>Twitter, LinkedIn, Facebook, Foursquare, Instagram</td>
          </tr>
          <tr>
            <td>Databases</td>
            <td>Primarily MySQL</td>
            <td></td>
          </tr>
          <tr>
            <td>System Platforms</td>
            <td> Primarily Linux</td>
            <td></td>
          </tr>
          <tr>
            <td>Front-End Markup</td>
            <td>HTML & CSS</td>
            <td></td>
          </tr>
        </tbody>
      </table>
  
    </div>
    
  </div>
</section>

<!-- Contact Me
================================================== -->
<section id="contact">
  <div class="page-header">
    <h1>Contact Me <small>Playing around with forms</small></h1>
  </div>
  <div class="row">
    <div class="span16">
<!--        <div class="row">-->
<!--          <div class="span6 offset2">            -->
<!--            <h4>Send Me a Message</h4>-->
<!--          </div>        -->
<!--        </div>-->
      <form>
        <fieldset>
          <legend></legend>
          <div class="row">
            <div class="span8">
              <div class="clearfix">
                <label for="fullname">Full Name :</label>
                <div class="input">
                  <input class="xlarge" id="fullname" name="fullname" size="40" type="text" />
                </div>
              </div><!-- /clearfix -->

              <div class="clearfix">
                <label for="email">Email :</label>
                <div class="input">
                  <input class="xlarge" id="email" name="email" size="40" type="text" />
                </div>
              </div><!-- /clearfix -->
              
              <div class="clearfix">
                <label for="textarea">Message Text :</label>
                <div class="input">
                  <textarea class="xlarge" name="textarea" id="textarea" rows="10"></textarea>
                </div>
              </div><!-- /clearfix -->
            </div>
            <div class="span8">
              <div class="well">              
                <script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6LchGMsSAAAAAKadCBQ92jNae7g5KTHvjrDfUHZY"></script>
                <noscript>
                  <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LchGMsSAAAAAKadCBQ92jNae7g5KTHvjrDfUHZY"
                     height="300" width="500" frameborder="0"></iframe><br>
                  <textarea name="recaptcha_challenge_field" rows="3" cols="40">
                  </textarea>
                  <input type="hidden" name="recaptcha_response_field"
                   value="manual_challenge">
                </noscript>
              </div>
              </br>
              <div class="well">
                <a href=# class="btn large primary">Send It!</a>
                <a href=# class="btn large">Clear</a>             
              </div>
            </div>
          </div>
        </fieldset>
        
            
      </form>
    </div>
    <div class="span8">
      <div id="recaptcha"></div>
    </div>
  </div>
</section>

</br></br></br> 

    </div><!-- /container -->

    <footer class="footer">
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>
          Built using <a href="http://twitter.com/Twbootstap" target="_blank">Twitter Bootstrap</a> which is used according to the<a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache 2.0 License</a>.
        </p>
      </div>
    </footer>




  </body>
</html>
